<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" >Vinyls<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickUsers()">Users</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1> Welcome to {{ title }}! </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
